force-app/main/default/flows/Account_Mark_as_Active_C_P_Recurring_Sustaining_Donation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_One_To_Count</name>
        <label>Add One To Count</label>
        <locationX>946</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Zero_To_Count</name>
        <label>Add Zero To Count</label>
        <locationX>721</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_Record_to_Active_Recurring_C_P</name>
        <label>Update Account Record to Active Recurring C&amp;P</label>
        <locationX>1136</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>Account.C_P_Recurring_Donations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_Record_To_Lapsed_Former</name>
        <label>Update Account Record To Lapsed/Former</label>
        <locationX>1284</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>Account.C_P_Recurring_Donations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lapsed/Former</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>StatusEquals_Active</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Active_Status_Found</name>
        <label>Active Status Found</label>
        <locationX>1128</locationX>
        <locationY>211</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lapsed_Former_Was_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.C_P_Recurring_Donations__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Record_To_Lapsed_Former</targetReference>
            </connector>
            <label>Lapsed/Former (Was Active)</label>
        </rules>
        <rules>
            <name>Active_Status_Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Record_to_Active_Recurring_C_P</targetReference>
            </connector>
            <label>Active Status Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_Status</name>
        <label>Match Status</label>
        <locationX>829</locationX>
        <locationY>526</locationY>
        <defaultConnector>
            <targetReference>Add_Zero_To_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Opportunity.CnP_PaaS_CnP_Recurring_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StatusEquals_Active</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Opportunity.CnP_PaaS_Recurring_Next_Installment_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_One_To_Count</targetReference>
            </connector>
            <label>Status is Active</label>
        </rules>
    </decisions>
    <interviewLabel>Account - Mark as Active C&amp;P Recurring (Sustaining) Donation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Mark as Active C&amp;P Recurring (Sustaining) Donation</label>
    <loops>
        <name>For_Each_Opportunity</name>
        <label>For Each Opportunity</label>
        <locationX>838</locationX>
        <locationY>206</locationY>
        <collectionReference>OpportunityCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Active_Status_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>501</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Other_Account_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Account_Opportunities</name>
        <label>Get Other Account Opportunities</label>
        <locationX>669</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpportunityCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CnP_PaaS_CnP_Recurring_Status__c</queriedFields>
        <queriedFields>CnP_PaaS_Recurring_Next_Installment_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1767</locationX>
        <locationY>359</locationY>
        <inputReference>Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>65</locationX>
        <locationY>187</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OpportunityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityToMatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
