force-app/main/default/flows/CreateMembershipsFromOpportunityInserts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Do_Active_Memberships_Exist_with_the_Same_CnP_Recurring</name>
        <label>Do Active Memberships Exist with the Same CnP Recurring?</label>
        <locationX>753</locationX>
        <locationY>271</locationY>
        <defaultConnector>
            <targetReference>Create_New_Sustainer_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active Membership Already Exists</defaultConnectorLabel>
        <rules>
            <name>Active_Membership_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingMembershipId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oppty_with_Existing_Membership_Details</targetReference>
            </connector>
            <label>Active Membership Already Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Sustainer</name>
        <label>Is Record Sustainer?</label>
        <locationX>543</locationX>
        <locationY>34</locationY>
        <defaultConnector>
            <targetReference>Create_One_Time_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, not Sustainer</defaultConnectorLabel>
        <rules>
            <name>Yes_Sustainer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MembershipOneTimeSustainer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sustainer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Active_Memberships_Linked_to_this_Sustainer_Gift</targetReference>
            </connector>
            <label>Yes, Sustainer</label>
        </rules>
    </decisions>
    <description>Creates a Membership record if needed (not an ongoing sustainer gift) and updates the opportunity which triggered the flow with the new Membership Id</description>
    <formulas>
        <name>OpportunityCloseDatePlusOneYear</name>
        <dataType>Date</dataType>
        <expression>IF( 
   OR(
      AND({!OpportunityCloseDate} &lt; DATE(YEAR({!OpportunityCloseDate}),3,1),
         OR(MOD( YEAR({!OpportunityCloseDate}), 400 ) = 0, 
            AND(MOD( YEAR({!OpportunityCloseDate}), 4 ) = 0,MOD( YEAR({!OpportunityCloseDate}), 100 ) != 0)
         )
      ),
      AND({!OpportunityCloseDate}&gt;= DATE(YEAR({!OpportunityCloseDate}),3,1),
         OR(MOD( YEAR({!OpportunityCloseDate})+1, 400 ) = 0, AND(MOD( YEAR({!OpportunityCloseDate})+1, 4 ) = 0,MOD( YEAR({!OpportunityCloseDate})+1, 100 ) != 0)))
   ),
   {!OpportunityCloseDate}+365,
   {!OpportunityCloseDate}+364
)</expression>
    </formulas>
    <interviewLabel>CreateMembershipsAndOrUpdateOpportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateMembershipAndOrUpdateOpportunities</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Sustainer_Membership</name>
        <label>Create New Sustainer Membership</label>
        <locationX>583</locationX>
        <locationY>383</locationY>
        <assignRecordIdToReference>NewMembershipIdSustainer</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Oppty_with_New_Sustainer_Membership_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>OpportunityAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_CnP_Recurring__c</field>
            <value>
                <elementReference>OpportunityCnPRecurring</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Initial_Opportunity__c</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <elementReference>Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Membership__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_One_Time_Membership</name>
        <label>Create One-Time Membership</label>
        <locationX>292</locationX>
        <locationY>170</locationY>
        <assignRecordIdToReference>NewMembershipIdOneTime</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Oppty_for_One_Time_Membership</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>OpportunityAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Initial_Opportunity__c</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>OpportunityCloseDatePlusOneYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <elementReference>Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>OpportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Membership__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Active_Memberships_Linked_to_this_Sustainer_Gift</name>
        <label>Find Active Memberships Linked to this Sustainer Gift</label>
        <locationX>755</locationX>
        <locationY>171</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Active_Memberships_Exist_with_the_Same_CnP_Recurring</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Associated_CnP_Recurring__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityCnPRecurring</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Membership__c</object>
        <outputAssignments>
            <assignToReference>ExistingMembershipId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Oppty_for_One_Time_Membership</name>
        <label>Update Oppty for One-Time Membership</label>
        <locationX>291</locationX>
        <locationY>262</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Membership__c</field>
            <value>
                <elementReference>NewMembershipIdOneTime</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Oppty_with_Existing_Membership_Details</name>
        <label>Update Oppty with Existing Membership Details</label>
        <locationX>935</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Membership__c</field>
            <value>
                <elementReference>ExistingMembershipId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Oppty_with_New_Sustainer_Membership_Id</name>
        <label>Update Oppty with New Sustainer Membership Id</label>
        <locationX>583</locationX>
        <locationY>479</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Membership__c</field>
            <value>
                <elementReference>NewMembershipIdSustainer</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Is_Record_Sustainer</startElementReference>
    <status>Active</status>
    <variables>
        <name>ExistingMembershipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Level</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MembershipOneTimeSustainer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewMembershipIdOneTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewMembershipIdSustainer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityCnPRecurring</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
