force-app/main/default/flows/EndCurrentMembershipsUponCCDecline.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Current_Membership_Found</name>
        <label>Current Membership Found?</label>
        <locationX>556</locationX>
        <locationY>141</locationY>
        <defaultConnectorLabel>No, Membership Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Membership_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentMembershipId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_Membership_to_Grace</targetReference>
            </connector>
            <label>Yes, Membership Found</label>
        </rules>
    </decisions>
    <description>Locates the current memberships associated with the CnP Recurring ID for a recurring membership that has been recorded as declined, and marks the end date as yesterday and the membership as Active (Grace).</description>
    <formulas>
        <name>Yesterday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-1</expression>
    </formulas>
    <interviewLabel>EndCurrentMembershipsUponCCDecline {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EndCurrentMembershipsUponCCDecline</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Membership_Associated_with_CnP_Recurring</name>
        <label>Find Membership Associated with CnP Recurring</label>
        <locationX>555</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Membership_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Associated_CnP_Recurring__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CnPRecurringId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Membership__c</object>
        <outputAssignments>
            <assignToReference>CurrentMembershipId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Move_Membership_to_Grace</name>
        <label>Move Membership to Grace</label>
        <locationX>555</locationX>
        <locationY>246</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentMembershipId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>Yesterday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active (Grace Period)</stringValue>
            </value>
        </inputAssignments>
        <object>Membership__c</object>
    </recordUpdates>
    <startElementReference>Find_Membership_Associated_with_CnP_Recurring</startElementReference>
    <status>Active</status>
    <variables>
        <name>CnPRecurringId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentMembershipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
