force-app/main/default/flows/Membership_After_Insert_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Closes all Current Active Memberships other than the one which triggers this flow to fire.</description>
    <formulas>
        <name>Yesterday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-1</expression>
    </formulas>
    <interviewLabel>Close_All_Other_Current_Active_Memberships</interviewLabel>
    <label>Close All (Other) Current Active Memberships</label>
    <loops>
        <name>Loop_through_each_membership_found</name>
        <label>Loop through each membership found</label>
        <locationX>539</locationX>
        <locationY>158</locationY>
        <assignNextValueToReference>ActiveMembershipInstance</assignNextValueToReference>
        <collectionReference>AllCurrentMemberships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Close_Membership</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Active_Membership_with_no_End_Date</name>
        <label>Find Active Membership with no End Date</label>
        <locationX>537</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_each_membership_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InsertedMembershipAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>InsertedMembershipId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lapsed/Former</stringValue>
            </value>
        </filters>
        <object>Membership__c</object>
        <outputReference>AllCurrentMemberships</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Close_Membership</name>
        <label>Close Membership</label>
        <locationX>820</locationX>
        <locationY>152</locationY>
        <connector>
            <targetReference>Loop_through_each_membership_found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Loop_through_each_membership_found</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActiveMembershipInstance.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>Yesterday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Override_to_Mark_as_Lapsed_Former__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Lapsed/Former</stringValue>
            </value>
        </inputAssignments>
        <object>Membership__c</object>
    </recordUpdates>
    <startElementReference>Find_Active_Membership_with_no_End_Date</startElementReference>
    <status>Active</status>
    <variables>
        <name>ActiveMembershipInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Membership__c</objectType>
    </variables>
    <variables>
        <name>AllCurrentMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Membership__c</objectType>
    </variables>
    <variables>
        <name>InsertedMembershipAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsertedMembershipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
