force-app/main/default/flows/Membership_After_Insert_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_End_Date_values</name>
        <label>assign End Date values</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>loop_Active_Member_records.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_date_Yesterday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_Active_Member_records.Override_to_Mark_as_Lapsed_Former__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_Active_Member_records.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lapsed/Former</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Membership_records_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Membership_records_to_Collection</name>
        <label>assign Membership records to Collection</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>rcv_Membership</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Active_Member_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Active_Member_records</targetReference>
        </connector>
    </assignments>
    <description>Closes all Current Active Memberships other than the one which triggers this flow to fire.</description>
    <formulas>
        <name>for_date_Yesterday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-1</expression>
    </formulas>
    <interviewLabel>Close_All_Other_Current_Active_Memberships</interviewLabel>
    <label>Close All (Other) Current Active Memberships</label>
    <loops>
        <name>loop_Active_Member_records</name>
        <label>loop Active Member records</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>get_Active_Membership_without_End_Date</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_End_Date_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Membership_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Active_Membership_without_End_Date</name>
        <label>get Active Membership without End Date</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Active_Member_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InsertedMembershipAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>InsertedMembershipId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lapsed/Former</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Membership_records</name>
        <label>update Membership records</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>rcv_Membership</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Active_Membership_without_End_Date</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InsertedMembershipAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsertedMembershipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rcv_Membership</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Membership__c</objectType>
    </variables>
</Flow>
